.add-user-title {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 30px;
}


form {
    width: 350px;
    margin: 0 auto 30px auto; 
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #8B0000; 
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #5c0000;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #5c0000;
    color: white;
}
